<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
    <h1 th:text="${title}">Default title</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <form method="post">
        <label>Name: </label> <br/>
        <input type="text" name="cheeseName" /> <br/>
        <label>Description: </label> <br/>
        <textarea type="text" name="cheeseDescription" /> <br/>
        <input type="submit" value="Add Cheese" />
    </form>

</body>
</html>